
/Front-end/public
Back-end/logs/combined.log
Back-end/logs/error.log
Back-end/logs/combined.log
Back-end/logs/error.log
Back-end/logs/combined.log
MachineLearning/data/images
Front-end/.env
MachineLearning/.env
Front-end/.env
Back-end/logs
MachineLearning/API/.env
Front-end/.env
Back-end/dist
